@model MeetingApp.Website.Models.MeetingRoom.AddMeetingRoomViewModel
@{
    ViewData["Title"] = "View";
}
<form asp-action="Add">
    <div class="form-group">
        <label asp-for="MeetingRoom.Name" class="control-label"></label>
        <input asp-for="MeetingRoom.Name" class="form-control" />
        <span asp-validation-for="MeetingRoom.Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="MeetingRoom.Seats" class="control-label"></label>
        <input asp-for="MeetingRoom.Seats" class="form-control" />
        <span asp-validation-for="MeetingRoom.Seats" class="text-danger"></span>
    </div>
    <div class="form-group">

        <select name="LocationId">
            <option value="">--Please choose an option--</option>
            @foreach (var location in Model.LocationModels)
            {
                <option value="@location.Id">@location.Name</option>
            }
        </select>
    </div>
    <button type="submit">Submit</button>
</form>
