@model MeetingApp.Website.Models.MeetingRoom.MeetingRoomViewModel
@{
    ViewData["Title"] = "View";
}

<ul>
    <li>ID: @Model.MeetingRoom.Id</li>
    <li>Name: @Model.MeetingRoom.Name</li>
    <li>Seats: @Model.MeetingRoom.Seats</li>
</ul>

