@model MeetingApp.Website.Models.Location.ListLocationViewModel
@{
    ViewData["Title"] = "View";
}
<ul>
    @foreach (var location in Model.Locations)
    {
        <li>
            @location.Name
            <ul>
                <li>
                    <a href="~/location/update?id=@location.Id">Update</a>
                </li>
            </ul>
        </li>
    }
</ul>

<a asp-controller="Location" asp-action="Add">Add new location</a>
<br />
<a asp-controller="MeetingRoom" asp-action="Index">Go to meeting rooms</a>
